.var-highlight {
  color: #c6c6c6;
}

.string-highlight {
  color: #ffffff;
}

#typewriter {
  font-size: 2em;
  color: #95DEE3;
  margin: 0;
  font-family: "Courier New";
  background: #223A5E;
  background-color: #223A5E;
  border: 5px solid #223A5E;
  margin-bottom: -30px;
}
#typewriter:after {
  content: "|";
  -webkit-animation: blink 500ms linear infinite alternate;
          animation: blink 500ms linear infinite alternate;

}

@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
